<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="DB.DEBUG" connectionString="host=localhost; User=root; port=3306; database=testschema; " />
      <add name="DB.RELEASE" connectionString="host=localhost; User=toshiya; port=33; database=testSchema; " />
    </connectionStrings>
  <appSettings>
    <add key="RunMode" value=""/>
  </appSettings>
</configuration>